@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-VariableFont_wght.ttf');
}

* {
    font-family: 'Raleway', 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;
}

header, #logements, #activites, #piedDePage {
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.lienHebergement, .lienPopulaire, .lienActivite, .lienFooter, #lienAncreActivites, #lienAncreHebergements, #lienPlus  {
    color:black;
    text-decoration: none;
}

.fontBold {
    font-weight: bold;
    font-size: 1.1em;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Champ Navigation */
#navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    height: 110px;
    margin-top: 2px;
}

#reservia {
    display: flex;
    align-items: center;
    margin-right: auto;
}

#imageReservia {
    height: auto;
    width: 110px;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    width: 140px;
}

#lienLogin {
    color: #0065FC;
    text-decoration: none;
}

#lienLogin:hover {
    font-weight: bold;
}
               
#ancres {
    display: flex;
    justify-content: space-evenly;
    order: 1;
    width: 260px;
}

#ancreHebergements, #ancreActivites {
    width: 100%;
}

#lienAncreHebergements, #lienAncreActivites {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#lienAncreActivites:hover, #lienAncreHebergements:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    margin-top: -2px;
}

/* Champ Rechercher */
#zoneRechercher {
    display: flex;
    height: 45px;
    margin: 30px 0px;
}

#logoLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    min-width: 35px;
    border: 2px solid #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
}

#champSearch {
    border: #F2F2F2 2px solid;
    width: 369px;
}

#champSearch::placeholder {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

#champSearch:focus::placeholder {
    color: white;
}

#champSearch:focus {
        outline: 0;
}

#champSubmit {
    border: 1px #0065FC solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family:"Raleway", sans-serif;
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    cursor: pointer;
}

.boutonSubmitMobile {
    display: none;
}

#champSubmit:hover {
    box-shadow: 0px 0px 3px 2px #0065FC;
}

/* Champ filtres */
#filtres {
    display:flex;
    margin-bottom: 30px;
}

#labelFiltres {
    display: flex;
    align-items: center;
    height: 46px;
}

#boutonsFiltres {
    display: flex;
    flex-wrap: wrap;
}

.lienFiltre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 46px;
    border: 3px #F2F2F2 solid;
    border-radius: 46px;
    padding-right: 15px;
    color: black;
    text-decoration: none;
}

.logoFiltre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border: 3px #DEEBFF solid;
    margin-right: 10px;
    margin-left: -3px;
    border-radius: 100%;
    background-color: #DEEBFF;
    color: #0065FC
}

.lienFiltre:hover {
    border: 3px solid #DEEBFF;
    background-color: #DEEBFF;
    color: #0065FC;
}

.lienFiltre:hover .logoFiltre {
    background-color: #0065FC;
    border-color: #0065FC;
    color: white;
}

#information {
    display: flex;
    align-items: center;
    margin: 15px;
}

#infologo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17px;
    width: 17px;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 0.6em;
    color: #0065FC;
}

/* Logements */
#logements {
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nom {
    word-wrap: break-word;
}
        
.starTrue {
    color: #0065FC;
}
        
.starFalse {
    color: #F2F2F2;
}

/* Section Hébergements */
#hebergements {
    width: 65%;
    padding: 15px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

#vignettesHebergements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
                        
.lienHebergement {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow : 0px 3px 6px 3px rgb(221, 221, 221);
    background-color: white;
    overflow: hidden;
}

.lienHebergement:hover {
    box-shadow : 0px 3px 6px 6px #d4d3d3 ;
}
                                
.photoHebergement {
   height: 115px;
}

.texteHebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85px;
    margin-left: 15px;
}

/* Section Populaires */
#populaires {
    width: auto;
    padding: 15px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

#logoTendances {
    float: right;
}

#vignettesPopulaires {
    display: flex;
    flex-direction: column;
}

.lienPopulaire {
    display: flex;
    width: 340px;
    height: 140px;
    margin: 10px 0px;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow : 0px 3px 6px 3px rgb(221, 221, 221);
    background-color: white;
    overflow: hidden;
}

.lienPopulaire:hover {
    box-shadow : 0px 3px 6px 6px #d4d3d3;
}

.photoPopulaire {
    width: 40%;
}
      
.textePopulaire {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    margin-left: 20px;
    flex: 1;
}

.textePopulaire div {
    margin: 5px 0px;
}

.textePopulaire .notation {
    display: flex;
    align-items:flex-end;
    flex: 1;
    
}

/* Activités */
#vignettesActivites {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 450px;
    margin-bottom: 50px;
}

#vignettesActivites>div {
    width: 23%;
}

.lienActivite {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    box-shadow : 0px 3px 6px 3px #F2F2F2 ;
    overflow: hidden;
}

.lienActivite:hover {
    box-shadow : 0px 3px 6px 6px #d4d3d3;
}

#photoVieuxPort {
    height: 390px;
}

#photoFortDePomegues {
    height: 180px;
}

#photoIlesDuFrioul {
    height: 110px;
}

#photoParcDesCalanques {
    height: 390px;
}

#photoNotreDameDeLaGarde {
    height: 140px;
}

#photoParcLongchamp {
    height: 150px;
}

.texteActivite {
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 20px;
}

/* Pied de Page */
footer {
    background-color: #F2F2F2;
}

#piedDePage {
    display: flex;
    height: 220px;
    margin: auto;
}

#piedDePage>section {
    width: 30%;
}

.listeFooter {
    list-style-type: none;
    padding-left: 0px;
}

.listeFooter li {
    margin-bottom: 20px; 
}

.lienFooter:hover{
    text-decoration: underline;
}

@media screen and (max-width:650px) {

    /* Header */

    header {
        padding: 0px;
    }

    #navigation {
        margin-top: 20px;
        justify-content: space-between;
        height: 120px;
    }

    #reservia {
        padding-left: 20px;
        justify-content: left;
    }

    #login {
        width: auto;
        order: 1;
        justify-content: right;
        padding-right: 20px;
    }

    #ancres{
        order: 2;
        width: 650px;
        height: 60px;
    }

    #lienAncreHebergements, #lienAncreActivites {
        display: flex;
        justify-content: center;
        border-bottom: 3px solid #F2F2F2;
    }

    #lienAncreHebergements:hover, #lienAncreActivites:hover {
        border-bottom: 3px solid #0065FC;
        border-top: 3px solid white;
       
    }

    #presentation {
        padding: 0px 20px;
    }

    #zoneRechercher {
        margin: 0px 20px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    #champSearch {
        width: 100%;
    }

    .boutonSubmitDesktop {
        display: none;
    }

    .boutonSubmitMobile {
        display: flex;
        min-width: 45px;
        background-color: #0065FC;
        color: white;
        border-radius: 10px;
        margin-left: -5px;
    }

    #lienSubmitMobile {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
        color: white;
    }

    #filtres {
        margin: 0px 20px;
        flex-direction: column;
    }

    #boutonsFiltres>div {
        margin-bottom: 10px;
    }

    .lienFiltre {
        margin-left: 0px;
        margin-right: 10px;
    }

    /* Logements */
    #logements {
        flex-direction: column-reverse;
        margin-bottom: 0px;
        padding: 0px;
    }

    /* Populaires */
    #populaires {
        margin: 0px;
        border-radius: 0;
    }

    .lienPopulaire {
        width: auto;
    }

    .textePopulaire {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 15px;
    }

    /* Hebergements */
    #hebergements {
        width: auto;
        background-color: white;
    }

    #vignettesHebergements {
        flex-direction: column;
    }

    .lienHebergement {
        width: auto;
    }

    /* Activites */
    #activites {
        margin: 15px;
        padding: 0px;
    }

    #vignettesActivites {
        height: auto;
    }

    #vignettesActivites>div {
        width: 100%;
    }

    .lienActivite {
        width: auto;
        height: 190px;
        margin: 10px 0px;
    }

    #photoVieuxPort, #photoFortDePomegues, #photoIlesDuFrioul, #photoParcDesCalanques, #photoNotreDameDeLaGarde, #photoParcLongchamp {
        height: 75%;
    }

    /* Footer */
    #piedDePage {
        height: auto;
        flex-direction: column;
        margin: 0px;
    }

    #piedDePage section {
        width: 100%;
        margin-top: 15px;
    }

    .listeFooter {
        width: 100%;
    }

    .listeFooter li {
        margin-bottom: 13px; 
    }
}

@media all and (max-width:1300px) and (min-width:650px) {


    /* Header */
    #zoneRechercher {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    #filtres {
        flex-direction: column;
    }

    #boutonsFiltres>div {
        margin-bottom: 10px;
    }

    .lienFiltre {
        margin-left: 0px;
        margin-right: 10px;
    }

    /* Logements */
    #logements {
        padding: 0px;
        flex-direction: column-reverse;
        margin-bottom: 0px;
    }

    /* Populaires */
    #populaires {
        padding: 0px 15px;
        border-radius: 0px;
    }

    #vignettesPopulaires {
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        margin-bottom: 40px;
    }

    #vignettesPopulaires>div {
        width: 32%;
    }

    .textePopulaire {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 85px;
        margin-left: 15px;
    }

    .lienPopulaire {
        flex-direction: column;
        height: 220px;
        width: auto;
    }

    .photoPopulaire {
        width: auto;
        height: 115px;
    }

    /* Hebergements */
    #hebergements {
        margin-top: 10px;
        width: auto;
        border-radius: 0px;
        background-color: white;
    }

    #vignettesHebergements>div {
        width: 32%;
    }

    .lienHebergement {
        width: auto;
    }

    /* Activites */
    #activites {
        padding: 0px;
        margin: 0px 15px;
    }

    #vignettesActivites {
        flex-direction: row;
        height: auto;
    }

    #vignettesActivites>div {
        width: 32%;
    }

    .lienActivite {
        width: auto;
        height: 190px;
        margin: 10px 0px;
    }

    #photoVieuxPort, #photoFortDePomegues, #photoIlesDuFrioul, #photoParcDesCalanques, #photoNotreDameDeLaGarde, #photoParcLongchamp {
        height: 75%;
    }

    /* Footer */
    #piedDePage {
        padding: 0px;
        height: 100%;
    }

    #piedDePage>section {
        width: 32%;
        margin: 20px;
    }

    .listeFooter {
        width: 100%
    }
}