@font-face {
    font-family: "Raleway";
    src: url(Raleway/Raleway-VariableFont_wght.ttf);
}

* {
    font-family: 'Raleway', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
}

#page {
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
}

#navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 110px;
}

#reservia {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 8;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    order: 3;
}
               
#ancres {
    display: flex;
    flex-direction: row;
    order: 2;
    flex: 3;
}

#ancreHebergements, #ancreActivites {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#ancreHebergements {
    border-top: 2px solid #0065FC;
}

.lienAncre, #lienLogin {
    color:#0065FC;
    text-decoration: none;
}

/* Champ recherche */
#zoneRechercher {
    display: flex;
    flex-direction: row;
    height: 45px;
}

#logoLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#champSearch {
    display: flex;
    font-weight: bold;
    border: #F2F2F2 2px solid;
}

#champRecherche:focus::placeholder {
    color: white;
}

#champSubmit {
    display: flex;
    color: white;
    font-family:'Raleway', sans-serif;
    font-weight: bold;
    background-color: #0065FC;
    border: 1px #0065FC solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Champ filtre */
#filtres {
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 5px;
    font-weight: bold;
}       

.lienFiltre {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    border: 3px solid #F2F2F2;
    padding-right: 15px;
    border-radius: 30px 30px 30px 30px;
    border-left: #DEEBFF;
    text-decoration: none;
    color: black;
}

.lienFiltre:hover {
    border: #0065FC 3px solid;
    background-color: #DEEBFF;
    color: #0065FC;
}
        
.logoFiltre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    border: 3px #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 100%;
    color: #0065FC;
}

#information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}

#infologo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    height: 17px;
    width: 17px;
    font-size: 0.6em;
    color: #0065FC;
    margin-right: 10px;
}

/* Sections */
#logements {
    display:flex;
    flex-direction: row;
}

.lienHebergement, .lienPopulaire, .lienActivite {
    color:black;
    text-decoration: none;
}

#hebergements {
    width: 900px;
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 20px;
}

#vignettesHebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
                        
..lienHebergement {
    width: 250px;
    height: 200px;
    margin: 20px 0px;
    border: 5px solid white;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    box-shadow : 6px 6px 3px #F2F2F2 ;

}
                                
.photoHebergement {
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.texteHebergement {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85px;
}

.nom {
    word-wrap: wrap;
}
        
.starTrue {
    color: #0065FC;
}
        
.starFalse {
    color: #F2F2F2;
}

#populaires {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 20px;
    margin: 0px 20px;
}

#logoTendances {
    float: right;
}

#vignettesPopulaires {
    display: flex;
    flex-direction: column;
}
.lienPopulaire {
    display: flex;
    flex-direction: row;
    width: 340px;
    height: 140px;
    margin: 10px 0px;
    border: 5px solid white;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    box-shadow : 6px 6px 3px #F2F2F2 ;

}

.photoPopulaire {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
      
.textePopulaire {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 210px;
    margin: 0px 20px;
}

.textePopulaire div {
    margin: 5px 0px;
}

.textePopulaire .notation {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

#vignettesActivites {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 450px;
}

.lienActivite {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow : 6px 6px 3px #F2F2F2 ;
    overflow: hidden;
}

#photoVieuxPort {
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

#photoFortDePomegues {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#ilesDuFrioul {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#parcDesCalanques {
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#notreDameDeLaGarde {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#parcLongchamp {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.texteActivite {
    margin-left: 10px;
}


footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    margin-top: 20px;
}

.footerColumn {
    flex: auto;
    margin: 50px;
}

.footerColumn ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0px;
}

.footerColumn li {
    padding-bottom: 20px;
}

.imageAjustee {
    height: 100%;
    width: 100%;
}