@font-face {
    font-family: "Raleway";
    src: url(Font/Raleway/Raleway-VariableFont_wght.ttf);
}

* {
    font-family: 'Raleway', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
}

body {
    margin: 0;
}

header, section, #piedDePage {
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.lienHebergement, .lienPopulaire, .lienActivite, .lienFooter, #lienAncreActivites, #lienAncreHebergements, #lienPlus  {
    color:black;
    text-decoration: none;
}

.fontBold {
    font-weight: bold;
    font-size: 1.1em;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Champ Navigation */
#navigation {
    display: flex;
    flex-wrap: wrap;
    height: 110px;
    margin-top: 2px;
}

#reservia {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 8;
}

#login {
    flex: 1;
    order: 3;
}

#lienLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #0065FC;
    text-decoration: none;
}

#lienLogin:hover {
    font-weight: bold;
}
               
#ancres {
    display: flex;
    order: 2;
    flex: 3;
}

#ancreHebergements, #ancreActivites {
    flex: 1;
}

#lienAncreHebergements, #lienAncreActivites {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    width: 100%;
}

#lienAncreActivites:hover, #lienAncreHebergements:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    margin-top: -2px;
}

/* Champ recherche */
#zoneRechercher {
    display: flex;
    height: 45px;
    margin: 30px 0px;
}

#logoLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border: 2px solid #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
}

#champSearch {
    border: #F2F2F2 2px solid;
}

#champSearch::placeholder {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

#champSearch:focus::placeholder {
    color: white;
}

#champSubmit {
    border: 1px #0065FC solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family:"Raleway", sans-serif;
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    cursor: pointer;
}

#champSubmit:hover {
    box-shadow: 0px 0px 3px 2px #0065FC;
}

/* Champ filtre */
#filtres {
    display:flex;
    align-items: center;
    margin-bottom: 30px;
}       

.lienFiltre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 46px;
    border: 3px #F2F2F2 solid;
    border-radius: 46px;
    padding-right: 15px;
    color: black;
    text-decoration: none;
}

.logoFiltre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border: 3px #DEEBFF solid;
    margin-right: 10px;
    margin-left: -3px;
    border-radius: 100%;
    background-color: #DEEBFF;
    color: #0065FC
}

.lienFiltre:hover {
    border: 3px solid #DEEBFF;
    background-color: #DEEBFF;
    color: #0065FC;
}

.lienFiltre:hover .logoFiltre {
    background-color: #0065FC;
    border-color: #0065FC;
    color: white;
}

#information {
    display: flex;
    align-items: center;
    margin: 15px;
}

#infologo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17px;
    width: 17px;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 0.6em;
    color: #0065FC;
}

/* Section */
#logements {
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nom {
    word-wrap: break-word;
}
        
.starTrue {
    color: #0065FC;
}
        
.starFalse {
    color: #F2F2F2;
}

/* Article */
#hebergements {
    width: 850px;
    padding: 20px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

#vignettesHebergements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
                        
.lienHebergement {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow : 0px 3px 6px 3px rgb(221, 221, 221);
    background-color: white;
    overflow: hidden;
}

.lienHebergement:hover {
    box-shadow : 0px 3px 6px 6px #d4d3d3 ;
}
                                
.photoHebergement {
   height: 115px;
}

.texteHebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85px;
    margin-left: 15px;
}

/* Aside */
#populaires {
    padding: 20px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

#logoTendances {
    float: right;
}

#vignettesPopulaires {
    display: flex;
    flex-direction: column;
}

.lienPopulaire {
    display: flex;
    width: 340px;
    height: 140px;
    margin: 10px 0px;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow : 0px 3px 6px 3px rgb(221, 221, 221);
    background-color: white;
    overflow: hidden;
}

.lienPopulaire:hover {
    box-shadow : 0px 3px 6px 6px #d4d3d3;
}

.photoPopulaire {
    width: 130px;
}
      
.textePopulaire {
    display: flex;
    flex-direction: column;
    width: 210px;
    margin: 10px 20px;
}

.textePopulaire div {
    margin: 5px 0px;
}

.textePopulaire .notation {
    display: flex;
    align-items:flex-end;
    flex: 1;
}

/* Activités */
#vignettesActivites {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 450px;
    margin-bottom: 50px;
}

.lienActivite {
    display: flex;
    flex-direction: column;
    width: 290px;
    border-radius: 15px;
    box-shadow : 0px 3px 6px 3px #F2F2F2 ;
    overflow: hidden;
}

.lienActivite:hover {
    box-shadow : 0px 3px 6px 6px #d4d3d3;
}

#photoVieuxPort {
    height: 390px;
}

#photoFortDePomegues {
    height: 180px;
}

#photoIlesDuFrioul {
    height: 110px;
}

#photoParcDesCalanques {
    height: 390px;
}

#photoNotreDameDeLaGarde {
    height: 140px;
}

#photoParcLongchamp {
    height: 150px;
}

.texteActivite {
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 20px;
}

/* Pied de Page */
footer {
    background-color: #F2F2F2;
}

#piedDePage {
    display: flex;
    height: 220px;
    max-width: 1280px;
    margin: auto;
}

.listeFooter {
    list-style-type: none;
    padding-left: 0px;
    margin-right: 200px;
}

.listeFooter li {
    margin-bottom: 20px; 
}

.lienFooter:hover{
    text-decoration: underline;
}

@media all and (max-width:480px) {

    header, section, #piedDePage {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    #navigation {
        flex-wrap: wrap;
        height: auto;
        border: 1px dotted red;
    }

    #reservia {
        width: 240px;
        height: 70px;
        border: 1px dashed green
    }

    #login {
        width: 240px;
        order: 2;
    }

    #ancres{
        width: 480px;
        order: 3;
    }

    #filtres {
        flex-wrap: wrap;
    }

    #logements {
        flex-direction: column-reverse;
    }

    #populaires {
        margin-bottom: 30px;
    }

    #hebergements {
        width: auto;
    }

    #vignettesHebergements {
        flex-direction: column;
    }

    #vignettesActivites {
        height: auto;
    }

    #piedDePage {
        height: auto;
        flex-direction: column;
    }
}

@media all and (max-width:1280px) and (min-width: 481) {
    #logements {
        flex-direction: column-reverse;
    }

    #vignettesPopulaires {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .textePopulaire {
        width: 150px;
    }

    #hebergements {
        margin-top: 40px;
    }
}